*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



header{
    width: 100%;
    background: linear-gradient(135deg, #bbf7d0, #a7f3d0, #6ee7b7);
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
}

/* body{ bbf7d0
    background: linear-gradient(135deg, #bbf7d0, #a7f3d0, #6ee7b7);
} */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #ebfcf1;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin:1%;
    border: 1px solid #b2bec3;
    border-radius: 8px;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    color:#064e3b;
    margin-left: 20px;
}
span{
    color: #b60000;
}

.nav-links{
    list-style: none;
    display: flex;
    gap:55px;
    margin-right: 20px;
}

.nav-links li a{
    text-decoration: none;
    color: #2c3e50;
    font-weight: 600;
    transition: all 0.3s ease;   
}
.nav-links li a:hover{
    background: #dfe6e9;
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid #b2bec3;
}

.login-btn{
    background:#b2bec3;
    padding:8px 15px;
    border-radius: 8px;
}

.login-btn:hover{
    background: #636e72;
    color:#2d3436;
    border: 1px solid #2d3436;
}



/* Hero Section */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 80px 70px;
    margin-top: 40px;
    background: linear-gradient(135deg, #bbf7d0, #a7f3d0, #6ee7b7);
}

.hero-content {
  max-width: 500px;
  padding-left: 40px;
}

.hero-content h1 {
  font-size: 48px;
  color: #064e3b;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 25px;
  color: #065f46;
}

.btn {
  background: linear-gradient(90deg, #059669, #16a34a);
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #16a34a, #059669);
}

.hero-image img {
  width: 560px;
  border-radius: 15px;
  transition: transform 0.3s;
}

.hero-image img:hover {
  transform: scale(1.05);
}



/* Footer */
footer {
  background: linear-gradient(90deg, #065f46, #047857);
  color: white;
  text-align: center;
  padding: 24px 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

 .footer-contact-info p{
    font-size: 13px;
    margin: 4px 0;
    color: #bbf7d0
 }
 .footer-contact-info h3{
   font-size: 16px;
   font-weight: 600;
   color:#bbf7d0;
 }

 .footer-social-media h3{
    font-size: 16px;
    font-weight: 600;
    color:#bbf7d0;
    margin-bottom: 8px;
 }

  .footer-social-media .social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
 .footer-social-media .social-icons i{
    color: #bbf7d0;
    font-size: 15px;
 }

 .footer-social-media .social-icons i:hover{
    color: #bbf7d0;
    font-size: 20px;
 }